/* Element Control */
body,
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    /*for jumping in page*/
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #020614;
}

a {
    color: cyan;
}

/* Class Control*/

.content {
    padding-left: 5%;
    padding-right: 5%;
    transition: 1s;
}

.plate {
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid white;
    border-radius: 10px;
}

.tile {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 1%;
}

.tile i {
    margin-right: 10px;
    font-size: 25px;
}

.button {
    text-align: center;
    padding: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover {
    color: cyan;
    border: 2px solid cyan;
}

.form {
    display: none;
}


@media (min-width:490px) { /* Computer */

    .content p,a {
        font-size: 20px;
    }

    .top {
        background-image: url(./res/JNIC.png);

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        transition: 1s;

        z-index: 2;
    }
}

@media (max-width:490px) { /* Phone */

    .content p,a {
        font-size: 15px;
    }

    .top {
        background-image: url(./res/JNIC-m.png);

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        transition: 1s;

        z-index: 2;
    }
}

/*scroll down icon*/

.sd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    transform: translate(-50%, 0);
}

.sd_icon {
    /* transform: rotate(90deg); */
    display: inline-block;
    position: relative;
    animation: 1s sd_icon infinite;
    color: #fff;
    font-size: 30px;
}

@keyframes sd_icon {
    0% {
        opacity: 0;
        bottom: -10px;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        bottom: -20px;
    }
}




/* Fonts */

.lxgw-wenkai-tc-bold {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .lxgw-wenkai-tc-regular {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .lxgw-wenkai-tc-light {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 300;
    font-style: normal;
  }
  